.container{
    padding:5%;
}
.container .img{
    text-align:center;
}
.container .details{
    border-left:3px solid #ded4da;
}
.container .details p{
    font-size:15px;
    font-weight:bold;
}

button{
    margin-top: 20px;
}

#btnSeparator{
    display: none;
}

@media only screen and (min-width: 351px) and (max-width: 450px) {
    .container .details{
        border-left:0px solid #ded4da;
    }
}

@media only screen and (max-width: 350px) {
    #btnSeparator{
        display: block;
    }
    .container .details{
        border-left:0px solid #ded4da;
    }

    button{
        width: 150px;
    }
}