body {
    background: whitesmoke;
  }
  .mdl-card {
    margin-top: 40px;
    margin-left: auto;
    margin-bottom: 40px;
    margin-right: auto;
  }
  .mdl-card-order > .mdl-card__title {
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #007bff;
  }
  
  #send{
    background-color: #007bff;
    color: white;
  }